<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body style="background-image: url(https://www.riotgames.com/darkroom/1440/08bcc251757a1f64e30e0d7e8c513d35:be16374e056f8268996ef96555c7a113/wr-cb1-announcementarticle-banner-1920x1080.png);
    background-position: center top;
    background-size: 100% auto;">
<H1>CONTATO</H1>

<ul>
    <li><a href="../home">Home</a></li>
    <li><a href="../filmes">Filmes</a></li>
    <li><a href="../contato">Contato</a></li>
    <li><a href="../jogos">Jogos</a></li>
    <li><a href="../posts">Posts</a></li>
</ul>

</body>
</html>