<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body
        style="background-image: url(https://images2.alphacoders.com/474/thumb-1920-474206.jpg);
    background-position: center top;
    background-size: 100% auto;">
<H1>JOGOS</H1>

<ul>
    <li><a href="../home">Home</a></li>
    <li><a href="../filmes">Filmes</a></li>
    <li><a href="../contato">Contato</a></li>
    <li><a href="../jogos">Jogos</a></li>
    <li><a href="../posts">Posts</a></li>
</ul>

</body>
</html>